.product-list {
	flex: 1;

	h1 {
		margin-bottom: 2rem;
		font-size: 2rem;
		font-weight: var(--fw-bold);
	}

	.products-wrapper {
		display: grid;
		grid-template-columns: repeat(auto-fill, minmax(280px, 1fr));
		gap: 2rem 1.5rem;

		.list-product {
			position: relative;
			display: flex;
			flex-direction: column;
			gap: 2.25rem;

			.product-img-buttons-wrapper {
				position: relative;

				&.active .product-img {
					border: 3px solid var(--red);
				}

				&.active .product-quantity-btn-wrapper {
					display: flex;
				}

				&.active .add-to-cart-button {
					display: none;
				}

				.product-img {
					border-radius: 8px;
				}

				.add-to-cart-button {
					position: absolute;
					bottom: -20px;
					left: 50%;
					translate: -50%;
					min-width: 165px;
					padding: 0.6rem 1.25rem;
					background-color: var(--rose-50);
					display: flex;
					align-items: center;
					justify-content: space-between;
					border: 1px solid var(--rose-300);
					border-radius: 9999px;

					&:focus-visible {
						outline: 2px solid var(--rose-900);
					}
				}

				.product-quantity-btn-wrapper {
					position: absolute;
					bottom: -20px;
					left: 50%;
					translate: -50%;
					min-width: 165px;
					background-color: var(--red);
					color: var(--rose-100);
					display: flex;
					align-items: center;
					padding: 0.6rem;
					gap: 3rem;
					border-radius: 24px;
					display: none;

					&:focus-visible {
						outline: 2px solid var(--rose-900);
					}

					button {
						min-width: 20px;
						min-height: 20px;
						display: flex;
						align-items: center;
						justify-content: center;
						border: 1px solid var(--rose-100);
						border-radius: 50%;

						&:active {
							scale: 0.95;
						}

						&:focus-visible {
							outline: 2px solid var(--rose-100);
							outline-offset: 2px;
						}
					}
				}
			}

			.product-text-content {
				display: flex;
				flex-direction: column;
				gap: 0.25rem;

				.category {
					font-weight: var(--regular);
					font-size: 0.9rem;
					color: var(--rose-400);
				}

				.price {
					color: var(--red);
				}
			}
		}
	}
}
