// Colors
$red: hsl(14, 86%, 42%);
$green: hsl(159, 69%, 38%);

$rose-50: hsl(20, 50%, 98%);
$rose-100: hsl(13, 31%, 94%);
$rose-300: hsl(14, 25%, 72%);
$rose-400: hsl(7, 20%, 60%);
$rose-500: hsl(12, 20%, 44%);
$rose-900: hsl(14, 65%, 9%);

$white: hsl(0, 0%, 100%);
$black-600: hsla(0, 0%, 0%, 0.6);

// Font Weights
$font-weight-regular: 400;
$font-weight-semi-bold: 600;
$font-weight-bold: 700;

body {
	font-family: "Red Hat Text", serif;
	font-weight: $font-weight-semi-bold;
	font-size: 16px;
	color: $rose-900;
	background-color: $rose-100;
	position: relative;
}

.container {
	max-width: 1440px;
	width: 88%;
	margin-left: auto;
	margin-right: auto;
}

.btn {
	background-color: $red;
	color: $rose-100;
	width: 100%;
	height: 48px;
	border-radius: 9999px;
	font-size: 17px;
	font-weight: $font-weight-regular;
}
