:root {
	/* Colors */
	--red: hsl(14, 86%, 42%);
	--green: hsl(159, 69%, 38%);

	--rose-50: hsl(20, 50%, 98%);
	--rose-100: hsl(13, 31%, 94%);
	--rose-300: hsl(14, 25%, 72%);
	--rose-400: hsl(7, 20%, 60%);
	--rose-500: hsl(12, 20%, 44%);
	--rose-900: hsl(14, 65%, 9%);

	--white: hsl(0, 0%, 100%);
	--black-600: hsla(0, 0%, 0%, 0.6);

	/* Font Weights */
	--fw-regular: 400;
	--fw-semi-bold: 600;
	--fw-bold: 700;
}

body {
	font-family: "Red Hat Text", serif;
	font-weight: var(--fw-semi-bold);
	font-size: 1rem;
	color: var(--rose-900);
	background-color: var(--rose-100);
	position: relative;
}

main {
	display: flex;
	flex-direction: column;
	gap: 4rem;
	padding-bottom: 2rem;

	@media (width > 1400px) {
		flex-direction: row;
		align-items: flex-start;
		gap: 1.5rem;
	}
}

.container {
	width: min(88%, 1240px);
	margin-left: auto;
	margin-right: auto;
}
