.register {
	margin-bottom: 2rem;

	.overlay {
		position: absolute;
		inset: 0;
		background-color: var(--black-600);
		z-index: 1;
	}

	.register-button {
		background-color: var(--green);
		color: var(--rose-50);
		padding: 0.5rem 1rem;
		border-radius: 4px;
		margin-left: auto;
		display: block;

		&:focus-visible {
			outline: 3px solid var(--rose-900);
		}
	}

	.greetings {
		width: fit-content;
		margin-left: auto;
		padding: 0.5rem;
		background-color: var(--white);
		border: 2px solid var(--rose-900);
		border-radius: 4px;

		.greetings-word {
			margin-right: 0.25rem;
			color: var(--green);
		}
	}

	.register-modal {
		position: absolute;
		width: min(88%, 400px);
		top: 5%;
		left: 50%;
		translate: -50%;
		z-index: 2;
		background-color: var(--white);
		padding: 2rem 1.5rem;
		border-radius: 4px;

		&::before {
			position: absolute;
			content: "";
			width: 100%;
			height: 1px;
			background-color: var(--rose-300);
			left: 0;
			top: 90px;
		}

		.modal-head {
			display: flex;
			align-items: center;
			justify-content: space-between;
			margin-bottom: 3rem;

			.register-modal-title {
				font-size: 1.5rem;
			}

			.close-modal-button {
				border: 2px solid var(--rose-300);
				border-radius: 50%;
				padding: 0.25rem;

				&:focus-visible {
					outline: 1px solid var(--rose-900);
					outline-offset: 2px;
				}
			}
		}

		.modal-form {
			display: flex;
			flex-direction: column;
			gap: 2rem;

			.error-message {
				color: var(--red);
			}

			input {
				border: 1px solid var(--rose-900);
				padding: 0.25rem 0.5rem;
				border-radius: 4px;
				background-color: var(--white);

				&:focus {
					background-color: var(--rose-50);
					border-color: var(--green);
				}
			}

			.name-surname-wrapper,
			.city-country-wrapper {
				display: flex;
				justify-content: space-between;

				& > div {
					display: flex;
					flex-direction: column;
					gap: 0.5rem;
					max-width: 45%;
				}
			}
		}

		.submit-button {
			background-color: var(--green);
			color: var(--rose-50);
			padding: 0.5rem;
			border-radius: 4px;

			&:focus-visible {
				outline: 3px solid var(--rose-900);
			}
		}
	}
}
